@import './scss/config';

//import custom components styles
@import './components/home';
@import './components/newsletter/newsletter';

//nagivation
@import './components/navigation/header';

//blog component
@import './components/blog/blog';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  line-height: 1.5rem;

  h1, h2, h3, h4 {
    font-family: $headline-text;
  }

  h1 {
    font-size: 2rem;
  }

  a {
    font-family: $article-text;
    text-decoration: none;
    margin: 15px;
    color: $primary-color;
  }

  p {
    font-size: 1.2rem;
    font-family: $article-text;
  }

  .section-title {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
  }

  .button {
    margin: 15px;
    padding: 8px 16px;
    background-color: $primary-color;
    color: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 8px;
  }
}


