
.home {
    @include flexColumnCenter;
    width: 100%;

    .home-welcome {
        min-height: 75vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .welcome-text {
            @include flexColumnCenter;
            margin: 150px auto;
            padding: 25px;
            width: 64%;
            background-color: rgba($primary-color, 0.8);
            color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        }
        
    }

    .featured-blog-section {
        min-height: 50vh;
        padding: 50px 100px;
    }
}